
body{
 color:#202020;
 height: 100%;
 margin: 0;
}
.card-body{
  background-image: url(images/portfolio-bg.jpg);
}
.list-inline-item{
  background-color: rgba(254, 209, 54, 0.9);
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/portfolio-bg.jpg");
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.hexagon {
  position: relative;
  width: 200px; 
  height: 100px;
  background-color: rgba(254, 209, 54, 0.9);
  margin: 86.60px 0;
  
}
 .shape{
  margin-left:0px;
  margin-top:20px;

} 
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}
.hex-img{
  width:100%;
  height:100%;
  position:absolute;
  text-align: center;
  top:0;
  left:0;
}
.hexagon:before {
  bottom: 100%;
  border-bottom: 50px solid rgba(254, 209, 54, 0.9);
}
.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 50px solid rgba(254, 209, 54, 0.9);
}  
.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}
.html {width: 90%; background-color:#FFDB00;}
.css {width: 90%; background-color: #FFDB00;}
.js {width: 85%; background-color: #FFDB00;}
.angular {width: 60%; background-color: #FFDB00;}
.node {width: 60%; background-color: #FFDB00;}
.sql {width: 70%; background-color: #FFDB00;}
.skills {
  text-align: right;
  padding: 6px;
  color: black;
}
.container {
  width: 100%;
  background-color: #ddd;
}
.button-style{
 border:2px solid rgba(254, 209, 54, 0.9);   
}
.button-style:hover{
  background-color: rgba(254, 209, 54, 0.9);   
 }
#container1 {
    position: relative;
    width:100%;
    }
    .text-block1 {
    position: absolute;
    top:50%;
    bottom:50%;
    left:20%;
    right:20%;
    text-align: center;
    }
    #title1{
        color:white;
    }
    #container2 
    {
    position: relative;
    width:100%;
    }
    .text-block2
    {
    position: absolute;
    top:50%;
    bottom:50%;
    left:20%;
    right:20%;
    text-align: center;
    }
    #title2{
        background-color: teal;
        color: white;
    }
    #container3
    {
    position: relative;
    font-family: Arial;
    width:100%;
    }
    .text-block3 
    {
    position: absolute;
    top:50%;
    bottom:50%;
    left:20%;
    right:20%;
    text-align: center;
    }
    #title3{
        background-color: teal;
        color: white;
    }
    #container4 
    {
    position: relative;
    font-family: Arial;
    width:100%;
    }
    .text-block4 
    {
    position: absolute;
    top:50%;
    bottom:50%;
    left:20%;
    right:20%;
    text-align: center;
    }
    #title4{
    background-color: teal;
    color: white;
    }
    #container5
    {
    position: relative;
    font-family: Arial;
    width:100%;
    }
    .text-block5 
    {
    position: absolute;
    top:50%;
    bottom:50%;
    left:20%;
    right:20%;
    text-align: center;
    }
    #title5{
    background-color: teal;
    color: white;
    }
    #container6 
    {
    position: relative;
    font-family: Arial;
    width:100%;
    }
    .text-block6 
    {
    position: absolute;
    top:50%;
    bottom:50%;
    left:20%;
    right:20%;
    text-align: center;
    
    }
    #title6{
        background-color: teal;
        color: white;
    }
    #container7 
    {
    position: relative;
    font-family: Arial;
    width:100%;
    }
    .text-block7 
    {
    position: absolute;
    top:50%;
    bottom:50%;
    left:20%;
    right:20%;
    text-align: center;
    }
    #title7{
        background-color: teal;
        color: white;
    }
    #container8 {
    position: relative;
    font-family: Arial;
    }
    .text-block8 
    {
    position: absolute;
    top:50%;
    bottom:50%;
    left:20%;
    right:20%;
    text-align: center;
    }
    #title8{
        background-color: teal;
        color: white;
    }
    #container9 {
    position: relative;
    font-family: Arial;
    width:100%;
    }
    .text-block9 
    {
    position: absolute;
    top:50%;
    bottom:50%;
    left:20%;
    right:20%;
    text-align: center;
    }
    #title9{
        background-color: teal;
        color: white;
    }
    #portfolio .portfolio-item {
        right: 0;
        margin: 0 0 15px;
      }
      
      #portfolio .portfolio-item .portfolio-link {
        position: relative;
        display: block;
        max-width: 400px;
        margin: 0 auto;
        cursor: pointer;
      }
      
      #portfolio .portfolio-item .portfolio-link .portfolio-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        transition: all ease 0.5s;
        opacity: 0;
        background-color: white;
      }
      
      #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
        opacity: 1;
      }
      
      #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
        font-size: 20px;
        position: absolute;
        top: 10%;
        width: 100%;
        height: 20px;
        margin-top: -12px;
        text-align: center;
        color: white;
      }
      #portfolio{
        background-color:rgba(0, 0, 0, 0.5) ;
        color:black;
        padding:30px;
      } 
      #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
        margin-top: -12px;
      }
      #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
      #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
        margin: 0;
      }
      .contact-section{
        padding:10px;
      }
      #form-content{
        padding:10px;        
      }
      .form-group{
        width:100%;
      }

      
      #portfolio .portfolio-item .portfolio-caption {
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
        background-color: #fff;
      }
      
      #portfolio .portfolio-item .portfolio-caption h4 {
        margin: 0;
        text-transform: none;
      }
      
      #portfolio * {
        z-index: 2;
      }
      
      