#container1 {
    position: relative;
    width:100%;
    }
    .text-block1 {
    position: absolute;
    top:50%;
    bottom:50%;
    left:20%;
    right:20%;
    text-align: center;
    }
    #title1{
        color:white;
    }
    #container2 
    {
    position: relative;
    width:100%;
    }
    .text-block2
    {
    position: absolute;
    top:50%;
    bottom:50%;
    left:20%;
    right:20%;
    text-align: center;
    }
    #title2{
        background-color: teal;
        color: white;
    }
    #container3
    {
    position: relative;
    font-family: Arial;
    width:100%;
    }
    .text-block3 
    {
    position: absolute;
    top:50%;
    bottom:50%;
    left:20%;
    right:20%;
    text-align: center;
    }
    #title3{
        background-color: teal;
        color: white;
    }
    #container4 
    {
    position: relative;
    font-family: Arial;
    width:100%;
    }
    .text-block4 
    {
    position: absolute;
    top:50%;
    bottom:50%;
    left:20%;
    right:20%;
    text-align: center;
    }
    #title4{
    background-color: teal;
    color: white;
    }
    #container5
    {
    position: relative;
    font-family: Arial;
    width:100%;
    }
    .text-block5 
    {
    position: absolute;
    top:50%;
    bottom:50%;
    left:20%;
    right:20%;
    text-align: center;
    }
    #title5{
    background-color: teal;
    color: white;
    }
    #container6 
    {
    position: relative;
    font-family: Arial;
    width:100%;
    }
    .text-block6 
    {
    position: absolute;
    top:50%;
    bottom:50%;
    left:20%;
    right:20%;
    text-align: center;
    
    }
    #title6{
        background-color: teal;
        color: white;
    }
    #container7 
    {
    position: relative;
    font-family: Arial;
    width:100%;
    }
    .text-block7 
    {
    position: absolute;
    top:50%;
    bottom:50%;
    left:20%;
    right:20%;
    text-align: center;
    }
    #title7{
        background-color: teal;
        color: white;
    }
    #container8 {
    position: relative;
    font-family: Arial;
    }
    .text-block8 
    {
    position: absolute;
    top:50%;
    bottom:50%;
    left:20%;
    right:20%;
    text-align: center;
    }
    #title8{
        background-color: teal;
        color: white;
    }
    #container9 {
    position: relative;
    font-family: Arial;
    width:100%;
    }
    .text-block9 
    {
    position: absolute;
    top:50%;
    bottom:50%;
    left:20%;
    right:20%;
    text-align: center;
    }
    #title9{
        background-color: teal;
        color: white;
    }
      