#container1 {
position: relative;
}
#text-block1 {
position: absolute;
text-align: center;
background-color: teal;
color: white;  
}
#container2 
{
position: relative;
width:100%;
}
#text-block2
{
position: absolute;
width:82%;
text-align: center;
background-color: teal;
color: white;
border: thin black solid;
}
#container3
{
position: relative;
font-family: Arial;
width:100%;
}
#text-block3 
{
position: absolute;
width:20%;
text-align: center;
background-color: teal;
color: white;
border: thin black solid;
}
#container4 
{
position: relative;
font-family: Arial;
width:100%;
}
#text-block4 
{
position: absolute;
width:100%;
text-align: center;
background-color: teal;
color: white;
border: thin black solid;
}
#container5
{
position: relative;
font-family: Arial;
width:100%;
}
#text-block5 
{
position: absolute;
width:100%;
text-align: center;
background-color: teal;
color: white;
border: thin black solid;
}
#container6 
{
position: relative;
font-family: Arial;
width:100%;
}
#text-block6 
{
position: absolute;
width:100%;
text-align: center;
background-color: teal;
color: white;
border: thin black solid;
}
#container7 
{
position: relative;
font-family: Arial;
width:100%;
}
#text-block7 
{
position: absolute;
width:100%;
text-align: center;
background-color: teal;
color: white;
border: thin black solid;
}
#container8 {
position: relative;
font-family: Arial;
width:100%;
}
#text-block8 
{
position: absolute;
width:100%;
text-align: center;
background-color: teal;
border: thin black solid;
color: white;
}
#container9 {
position: relative;
font-family: Arial;
width:100%;
}
#text-block9 
{
position: absolute;
width:100%;
text-align: center;
background-color: teal;
color: white;
border: thin black solid;
}
  